#intro{
    background-image: url(../img/delani.jpg);
    background-size:100%;
    height:100vh;
    background-position: center;
    position:relative;
    background-repeat: no-repeat;
}
.logo{
    padding-left: 45%;
    padding-top:  140px;

}
.welcome{
    text-align: center;
    padding-top: 60px;
    color:white;
}
.to{
    text-align: center;
    padding-top:20px;
    color:white;
    font-size: 40px;
}
.part{
    text-align:center;
    color:white;
}
.mouse{
    padding-left: 47%;
    padding-top: 135px;
}
.about{
    margin-top: 50px;
    text-align: center;
}
.service{
    background-image: url(./img/s.jpg);
}